<mat-card [attr.id]="title === 'NOTICIAS' ? 'carouselNoticias' : null" class="card-sections-main m-0 p-0 mt-1" style="overflow: hidden;">
    <div class="card-header titleCards m-0 p-0">
        <label class="card-title">
          <i *ngIf="title === 'NOTICIAS'" class="fa-solid fa-newspaper"></i>
          {{title}}
        </label>
    </div>
    <div [id]="'carouselSlides_'+resourcename" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let _item of items;let indexOfelement=index;" [ngClass]="indexOfelement===0?'active':''">
                <mat-card-title-group>
                    <mat-card-title class="card-sections-text-content">{{_item.title}}</mat-card-title>
                </mat-card-title-group>
                <hr style="border: 1px solid #ddd; border-top: 1px solid #ddd; width: 85%; margin: 0 auto;">
                <br>
                <mat-card-content class="card-sections-text-content">
                    {{_item.content}}
                </mat-card-content>
                <img mat-card-sm-image style="margin-left: 5px;" [src]="_item.image" />
            </div>
        </div>
    </div>
</mat-card>

