<mat-card class="card-sections-main m-0 p-0 mt-1">
    <div class="card-header titleCards m-0 p-0">
        <label class="fa fa-newspaper-o" style="color: white;"></label>
        <label class="card-title">{{title}}</label>
    </div>
    <div [id]="'carouselSlides_'+resourcename" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let _item of items;let indexOfelement=index;" [ngClass]="indexOfelement===0?'active':''">
                <mat-card-title-group>
                    <mat-card-title class="card-sections-title">{{_item.title}}</mat-card-title>
                    <img mat-card-sm-image [src]="_item.image" />
                </mat-card-title-group>
                <mat-card-content class="card-sections-text-content">
                    {{_item.content}}
                </mat-card-content>
            </div>
        </div>
    </div>
</mat-card>

