<mat-toolbar color="primary" role="heading">
    <img class="navitem-icon-logo-fxnn" src="../assets/img/LogoFoxconnCompleto.png" />

    <span class="mat-toolbar-spacer"></span>
    <app-navitems [row1]="complete_date" [row2]="complete_hour"></app-navitems>

    <span class="mat-toolbar-spacer"></span>
    <app-navitems [classIcon]="''" [icon]="'//cdn.weatherapi.com/weather/64x64/day/113.png'" [row1]="'10.9 °C'" [row2]="'51.6 °F'"></app-navitems>

    <span class="mat-toolbar-spacer"></span>
    <app-navitems [icon]="'../assets/img/dollar.png'" [row1]="'20.05'" [row2]="'20.02'"></app-navitems>

    <span class="mat-toolbar-spacer"></span>
    <app-navitems [icon]="'../assets/img/puente.png'" [classIcon]="'navitem-icon-bridge'" [row1]="'Americas 52'" [row2]="'Min.'"></app-navitems>

    <span class="mat-toolbar-spacer"></span>
    <img class="navitem-icon-logo-cygnus" src="../assets/img/CyGNUS.png" />

</mat-toolbar>