@media screen and (max-width: 23in)  {
  .icones{
    height: 7vh !important;
    padding-top: 11px !important;
    width: 12rem !important;
  }

  .textIconNavbar{
    font-size: 17px !important;
    font-weight: bold !important;
  }
  
  .imgPuente {
    width: 4rem !important;
    margin-right: 5px !important;
  }
  

}


.navText {
  display: inline-table;
  color: #ffffff;
}

.textIconNavbar{
  font-size: 27px;
  font-weight: bold;
}

.icones{
  height: 7vh;
  padding-top: 11px;
  width: 13rem;
}

.imgDollar {
  width: 4rem;
  margin-right: 5px;
}

.imgPuente {
  width: 5rem;
  margin-right: 7px;
}

.blocks{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

