
.navText {
  display: inline-table;
  color: #ffffff;
}

.textIconNavbar{
  font-size: 20px;
  font-weight: bold;
}

.icones{
  height: 7vh;
  width: 4rem;
}
.imgDollar {
  width: 4rem;
  margin-right: 5px;
}

.imgPuente {
  width: 4rem;
  margin-right: 5px;
}

.blocks{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

