.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-container {
  position: relative;
}

.spinner {
  width: 295px; /* Ancho relativo al tamaño del contenedor */
  height: 285px; /* Altura relativa al tamaño del contenedor */
  border: 0.4em solid #FFF;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130%; /* Ancho relativo al tamaño del contenedor */
  height: 131%; /* Altura relativa al tamaño del contenedor */
  border-radius: 50%;
  border: 1em solid;
  border-color: #FFFFFF transparent;
}

.imgSpinner {
  width: 200px; /* Ancho relativo al tamaño del contenedor */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgBottom {
  width: 6%; /* Ancho relativo al tamaño del contenedor */
  position: absolute;
  margin-bottom: -22%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 18in)  {
  .imgBottom {
    width: 6%; /* Ancho relativo al tamaño del contenedor */
    position: absolute;
    margin-bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
  }
}


@media screen and (min-width: 25in)  {
  .imgBottom {
    width: 6%; /* Ancho relativo al tamaño del contenedor */
    position: absolute;
    margin-bottom: -18%;
    left: 50%;
    transform: translateX(-50%);
  }
}



@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
