<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item datas" id="video" *ngFor="let media of mediaObjs; let i = index" [ngClass]="{'active': i === 0}" [attr.data-bs-interval]="i | interval:media.time">
      <ng-container *ngIf="media.type !== 'Imagen'">
        <video class="video_div" muted controls onloadedmetadata="this.muted = true">
          <source type="video/mp4" [src]="'../assets/'+media.path">
        </video>
      </ng-container>
      <ng-container *ngIf="media.type === 'Imagen'">
        <img [src]="'../assets/'+media.path" class="imagen_div w-100">
      </ng-container>
    </div>
  </div>
</div>


<!-- <div id="videoCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner" *ngIf="this.mediaObjs[0]?.path">
    <div class="carousel-item active">
      <video class="video_div"  muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source type="video/mp4" [src]="this.mediaObjs[0].path">
      </video>
    </div>
    <div class="carousel-item" uted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" *ngFor="let media of this.mediaObjs">
      <video class="video_div">
        <source type="video/mp4" [src]="media.path">
      </video>
    </div>
  </div>
</div> delete -->

