<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item data-item " id="video" *ngFor="let media of mediaObjs; let i = index" [ngClass]="{'active': i === 0}" [attr.data-bs-interval]="i | interval:media.time">
      <ng-container *ngIf="(media.type === 'Graph_fpy') || (media.type === 'Graph_other') ">
        <fpy-graphs [type]="media.type" [id]="media.id" [id2]="media.id2"></fpy-graphs>
      </ng-container>
      <ng-container *ngIf="media.type === 'Video'">
        <video class="video_div" muted controls onloadedmetadata="this.muted = true">
          <source type="video/mp4" [src]="'http://localhost:2323/'+media.path">
        </video>
      </ng-container>
      <ng-container *ngIf="media.type === 'Imagen'">
        <img [src]="'http://localhost:2323/'+media.path" class="imagen_div w-100">
      </ng-container>
    </div>
  </div>
