/* Estilo para pantallas de 0 a 18 pulgadas */
@media (max-width: 16in) {
  .card-sections-main {
      height: 53vh;
      background-color: #132D48;
      color: white;
      border-radius: 14px;
  }


  .min-card-sections {
    height: 53vh;
    background-color: #132D48;
    color: white;
    border-radius: 14px;
  }

  #carouselNoticias.hidden {
    display: none;
  }

  .adjusted-height{
    height: 24vh !important;
  }

  .card-sections-Noticias {
    height: 53vh;
    background-color: #132D48;
    color: white;
    border-radius: 14px;
  }

  #carouselDeportes{
    display: none;
  }


  #carouselItemsSport {
    overflow: hidden; /* Oculta el desbordamiento del contenido */
    height: 271px !important; /* Establece la altura máxima del div */
  }

  #carouselItemsNews {
    overflow: hidden; /* Oculta el desbordamiento del contenido */
    height: 271px !important; /* Establece la altura máxima del div */
  }

  #carouselItemsVacantes {
    overflow: hidden; /* Oculta el desbordamiento del contenido */
    height: 271px !important; /* Establece la altura máxima del div */
  }

}

i.fas.fa-user-plus {
  color: #57ff57;
}

.downtimes-container {
  position: relative; /* Ajustamos la posición de los elementos relativamente */
}

.iconodown {
  color: #fafd1d26;
  font-size: 5rem;
  display: flex; /* Cambiamos a "block" para que ocupe todo el ancho disponible */
  justify-content: center;
}

.iconvacante {
  color: #82d58826;
  font-size: 5rem;
  display: flex; /* Cambiamos a "block" para que ocupe todo el ancho disponible */
  justify-content: center;
  position: absolute;
  margin-left: 64%;
}



@media (min-width: 18.1in) {
  .card-sections-main {
      height: 30vh;
      background-color: #132D48;
      color: white;
      border-radius: 14px;
  }

  .card-sections-Noticias {
    height: 30vh;
    background-color: #132D48;
    color: white;
    border-radius: 14px;
}

}


@media screen and (min-width: 20in)  {
  .min-card-sections {
    background-color: #132D48 ;
    color: white;
    height: 22vh;
    border-radius: 14px;
  }
}

.card-sections-graph{
  background-color: #19395A ;
  overflow: hidden;
  height: 100%;
  position: static;
}

