@media (max-width: 16in) {
  .card-sections-main {
      height: 50vh;
      background-color: #132D48;
      color: white;
      border-radius: 8px;
  }


  .min-card-sections {
    height: 50vh;
    background-color: #132D48;
    color: white;
    border-radius: 8px;
  }

  #carouselNoticias.hidden {
    display: none;
  }

  .adjusted-height{
    height: 24vh !important;
  }

  .card-sections-Noticias {
    height: 50vh;
    background-color: #132D48;
    color: white;
    border-radius: 8px;
  }

  #carouselDeportes{
    display: none;
  }


  #carouselItemsSport {
    overflow: hidden; 
    height: 330px !important;
  }

  #carouselItemsNews {
    overflow: hidden; 
    height: 330px !important;
  }

  #carouselItemsVacantes {
    overflow: hidden; 
    height: 271px !important;
  }

}

.fa-user-plus{
  color: #57ff57;
}

.downtimes-container {
  position: relative; 
}

svg.svg-inline--fa.fa-triangle-exclamation.iconodown {
  color: #fafd1d26;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
}


.iconvacante {
  color: #82d58826;
  font-size: 5rem;
  display: flex; 
  justify-content: center;
  position: absolute;
  margin-left: 64%;
}



  .card-sections-main {
      height: 27vh;
      background-color: #132D48;
      color: white;
      border-radius: 8px;
  }

  .card-sections-Noticias {
    height: 27vh;
    background-color: #132D48;
    color: white;
    border-radius: 8px;
}




@media screen and (min-width: 20in)  {
  .min-card-sections {
    background-color: #132D48 ;
    color: white;
    height: 22vh;
    border-radius: 8px;
  }
}
.min-card-sections {
  background-color: #132D48 ;
  color: white;
  height: 22vh;
  border-radius: 8px;
}
.card-sections-graph{
  /* background-color: #19395A ; */
  background-color: #132d48 ;
  overflow: hidden;
  height: 100%;
  position: static;
}

