#carouselSlides_downtimes {
  top: 32%;
  display: flex;
  justify-content: center; /* Centramos horizontalmente */
  position: absolute;
  width: 93%;
  margin-left: 4%;
}


.downtimes-card-sections-main{
  height: 15vh;
  background-color: #132d48;
  color: white;
  border-radius: 8px;
}

.vacantes-card-sections-main{
  height: 15vh;
  background-color: #132d48;
  color: white;
  border-radius: 8px;
}

.vacantes-min-card-sections-main{
  height: 15vh;
  background-color: #132d48;
  color: white;
  border-radius: 8px;
}

@media screen and (display-mode: fullscreen) {
  .downtimes-card-sections-main {
    height: 16vh;
  }
  .iconodown{
    font-size: 8rem;
  }

  .min-card-sections{
    height: 23vh !important;
  }

  .card-sections-Noticias {
    height: 30vh !important;

  }

  .card-sections-Noticias #carouselItemsNews {
    overflow: hidden;
    height: 270px !important;
  }
  .card-sections-Noticias {
    height: 30vh !important;
  }

  .vacantes-min-card-sections-main{
    height: 16vh !important;
  }

  .vacantes-min-card-sections-main{
    height: 17vh !important;
  }

  .card-sections-main {
    height: 32vh !important;
  }


  #carouselItemsSport {
    height: 371px !important;
  }

  #carouselItemsNews {
    height: 371px !important;
  }

  #carouselItemsVacantes {
    height: 110px !important;
  }

}
