
.video_div{
  width: 101%;

  max-height: 69vh;
}

.imagen_div{
  width: 100%;
  max-height: 69vh;
  margin-left: 10px;

}

@media screen and (max-width: 18in) {
  .video_div{
    width: 101%;
    max-height: 62vh;
    margin-left: 10px;
  }

  .imagen_div{
    width: 100%;
    max-height: 62vh;

  }
}
