<app-navbar></app-navbar>

<div class="main p-0 m-0 w-100">

    <div class="row p-0 m-0">

        <div class="col-8 bg-danger">
            <mat-list>
                <mat-list-item routerLink="/mosaic/1">Video</mat-list-item>
                <mat-list-item routerLink="/mosaic/2">Image</mat-list-item>
            </mat-list>
            <router-outlet></router-outlet>
        </div>

        <div class="col-4">
            <app-cardsections *ngFor="let _cardsection of cardsections" [title]="_cardsection.title" [resourcename]="_cardsection.resourcename"></app-cardsections>
        </div>

    </div>

</div>