<div class="pantalla">
  <app-navbar></app-navbar>
  <div class="main">
    <div class="row datos">
     <div class="col-9">
       <div class="card mediaZone">
         <div class="card-header titleCards">
           <label style="margin-bottom: 0px; color: #A62639;">COMUNICACION ORGANIZACIONAL</label>
         </div>
         <div class="card-body">
           <mat-list class="h-100">
             <mat-list-item class="h-100">
               <app-videoplayer class="w-100 h-100"></app-videoplayer>
             </mat-list-item>
           </mat-list>
         </div>
       </div>
      </div>
      <div class="col-3">
        <app-cardsections *ngFor="let _cardsection of cardsections" [title]="_cardsection.title"
          [resourcename]="_cardsection.resourcename"></app-cardsections>
      </div>
    </div>
  </div>
</div>
