.final {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pantalla{
  overflow-y: hidden;
  overflow-x: hidden;
}
.titleCards{
  height: 4vh;
}

.rightBar{
  background-color: #19395A;
  height: 96vh;
}

