.card-sections-main {
    height: 30vh !important;
}

.titleCards {
  text-align: center;
  font-family: sans-serif;
}


.card-sections-title {
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.card-sections-text-content {
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.card-title {
    color: #333333;
    text-align: justify;
    font-weight: bold;
    font-size: 1rem;
    margin: 5px !important;
}
