<mat-toolbar color="primary" role="heading">
    <img class="navitem-icon-logo-fxnn" src="../assets/img/LogoFoxconnCompleto.png" />
    <span class="mat-toolbar-spacer"></span>
    <img class="navitem-icon-logo-cygnus" src="../assets/img/CyGNUS.png" />
</mat-toolbar>

<div class="container mt-5">
    <div class="row align-items-center">
        <mat-card style="height: 200px;">
            <mat-card-title>
                <div class="container">
                    <div class="row justify-content-center">
                        Please wait, getting settings...
                    </div>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>