.mediaZone{
  height: 100vh;
  background: linear-gradient(to top, rgb(199, 213, 255), rgb(25, 57, 90));
  overflow-y: hidden;
}

.cuerpoMedia{
  height: 93vh;
}

.saludo {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  padding-left: 16px;
}

.completeDate {
  color: white;
  font-family: sans-serif;
  padding-left: 16px;
}


.header {
  height: 14vh;
}
