.mediaZone{
  height: 96vh;
  /* background: linear-gradient(to top, rgb(199, 213, 255), rgb(25, 57, 90)); */
    background: linear-gradient(to top, rgb(199, 213, 255), #5792CE);
   /* background-image: url('src/assets/img/RainLeos.gif'); */

  overflow-y: hidden;
}

.cuerpoMedia{
  height: 67vh;
}

.saludo {
  color: white;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  padding-left: 23px;
  font-size: 38px;
}

.completeDate {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  padding-left: 27px;
  padding-top: 13px;
}

.completeTime {
  color: white;
  font-family: 'Open Sans', sans-serif;;
  font-weight: bold;
  justify-content: right;
  display: grid;
  font-size: 35px;
}

.divVersion {
  display: flex;
  justify-content: right;
  margin-right: 2%;
  margin-top: 2%;
}

.logVersion{
  color: white;
}

.header {
  height: 9vh;
  margin-bottom: 2%;
  padding-left: 15px;
  background: linear-gradient(to right, #132d48 96%, #19395a 100%);
}
