.cartaInfo {
  border-radius: 50px;
  margin-bottom: 7% !important;
  display: block;
}

.bar{
  width: 95%;
  margin-left: 2%;
}

.cisne {
  width: 227%;
  margin-left: 940%;
  margin-top: 12px;
}

.header {
 margin-bottom: 35px;
}
