.cartaInfo {
  border-radius: 50px;
  margin-bottom: 5% !important;
  display: block;
}

@media screen and (max-width: 18in)  {
  .cartaInfo {
    border-radius: 50px;
    margin-bottom: 4% !important;
    display: block;
  }
}


.bar{
  width: 95%;
  margin-left: 2%;
  margin-top: 4%;
}

@media screen and (display-mode: fullscreen) {
  .bar{
    margin-top: 6% !important;
  }
}

.cisne {
  width: 140%;
  margin-left: 940%;
  margin-top: 12px;
}


